<template name="contact">
    <h2>Contact Us</h2>
    <div class="col-lg-4">
        <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="https://s3-us-west-2.amazonaws.com/softpyramid/team/fakharkhan.jpg" style="width: 140px; height: 140px;">
        <h2>Fakhar Khan</h2>
        <p>Hi i wrote this application for the beginners of Meteor, this application can help you understanding the Routers and Multi page meteor application</p>
        <p><a class="btn btn-default" href="http://www.softpyramid.com/#about" role="button">View details »</a></p>
    </div>
</template>